body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 24pt;
  margin-bottom: 24pt;
} 

h1, h2, h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: navy;
}

h1 {
  margin-top: 24pt;
  font-size: 24pt;
} 


h2 {  margin-top: 36pt; }

h3 {  margin-top: 18pt; }

h4 {  font-weight: bold }

.danger {
  text-decoration: blink
  }


xxxxpre { border-left-width:medium; border-left-style:inset; }

.astma {
  background-color:#efefef;
  padding:2px;
  color: green;
  font-size: 10pt;
  font-family: Courier, monospace;
  margin-left:15px;
}

.xtm {
  background-color:#efefef;
  padding:2px;
  color: green;
  font-size: 10pt;
  font-family: Courier,monospace;
  margin-left:15px;
  margin-top:10px;
}


