body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 24pt;
  margin-bottom: 24pt;
}
 
h1, h2, h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: navy;
}
 
h1 {
  margin-top: 24pt;
  font-size: 24pt;
}
 
h2 {  margin-top: 36pt; }
 
h3 {  margin-top: 18pt; }

xxxpre { border-left-width:medium; border-left-style:inset; }
 
.astma {
  color: red;
  font-size: 10pt;
  font-family: Helvetica,monospace;
  margin-left:15px;
}

.xtm {
  color: green;
  font-size: 12pt;
  font-family: Helvetica,monospace;
  margin-left:15px;
  margin-top:10px;
}
